body {
    font-family: "Times New Roman", Times, Serif;
    margin: 40px;
    color: #333;
    background-color: #f9f9f9;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    color: #2c3e50;
}

.location {
    margin-top: 5px;
    font-size: 14px;
}

.email {
    margin-top: 5px;
    font-size: 14px;
}

.website {
    margin-top: 5px;
    font-size: 14px;
}

.section {
    display: flex;
}

.section-title {
    width: 25%;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 5px;
}

.section-content {
    width: 75%;
    margin-bottom: 20px;
}

ul {
    margin-top: 5px;
    padding-left: 20px;
}
