body {
    background: LightSteelBlue;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: Indigo;
    text-align: center;

}

.projects { 
    display:flex; flex-wrap:wrap; 
} 
.project {
width: 50px;
margin: 10px;
padding: 30px 10px;
background: #72829C;
border-radius: 25%;
}